/* styles/animations.css */

@keyframes core-coloring {
    100% {
        fill: var(--heart-center-active);
    }
}

@keyframes fill-coloring {
    100% {
        fill: var(--heart-fill-active);
    }
}

@keyframes outline-coloring {
    100% {
        fill: var(--heart-outline-active);
    }
}

@keyframes heart-scaling {
    100% {
        transform: scale(1.5);
        transform-origin: center;
    }
}

@keyframes sparks-coloring {
    100% {
        fill: var(--heart-sparks-color);
    }
}

/* Анимации для сердечка */
.heart-icon.is-liked {
    animation: heart-scaling 0.3s 0.1s ease-in;
}

.heart-icon.is-liked .heart-center {
    animation: core-coloring 0.3s linear forwards;
}

.heart-icon.is-liked .heart-fill {
    animation: fill-coloring 0.3s 0.05s linear forwards;
}

.heart-icon.is-liked .heart-outline {
    animation: outline-coloring 0.3s 0.06s linear forwards;
}

.heart-icon.is-liked .heart-sparks {
    animation: sparks-coloring 0.3s 0.3s ease-in;
}