/* styles/style.css */

@import './globals.css';
@import './variables.css';

.page {
  padding: 100px 0;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  background-image:
          var(--gradient-horizontal),
          var(--gradient-vertical),
          var(--gradient-main);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings:
          'wght' var(--font-weight-normal),
          'wdth' 100,
          'opsz' 0;
}

.content-block {
  margin: 0 auto;
  max-inline-size: 700px;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px;
  border: var(--border-size) solid var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.page-header__title {
  margin: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-align: center;
}

.page-header__title-accent {
  display: block;
  margin: 0 0 20px;
  font-weight: inherit;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post {
  border: var(--border-size) solid var(--accent-color);
  background-color: var(--bg-color);
}

.post__header {
  border-bottom: var(--border-size) solid var(--accent-color);
  padding: 4px 10px 6px;
  font-size: 18px;
  font-variation-settings:
          'wght' var(--font-weight-bold),
          'wdth' 100,
          'opsz' 0;
}

.post__image-wrapper {
  position: relative;
  border-bottom: var(--border-size) solid var(--accent-color);
}

.post__image-label {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow:
          1px 0 0 var(--bg-color),
          1px 0 0 var(--bg-color),
          0 1px 0 var(--bg-color),
          0 1px 0 var(--bg-color),
          -1px 0 0 var(--bg-color),
          -1px 0 0 var(--bg-color),
          0 -1px 0 var(--bg-color),
          0 -1px 0 var(--bg-color);
  mix-blend-mode: hard-light;
  inset-inline-end: 10px;
  inset-block-start: 20px;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
  (-webkit-text-stroke: 1px var(--bg-color))
) {
  .post__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.post__image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 25px;
}

.post__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.post__text {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings:
          'wght' var(--font-weight-normal),
          'wdth' 100,
          'opsz' 0;
}

.post__actions {
  display: flex;
  gap: 4px;
  align-self: flex-end;
  margin: 3px 0 0;
}

.post__heart-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  padding: var(--border-size);
  outline: var(--border-size) solid transparent;
  outline-offset: var(--border-size);
  background-color: transparent;
  transition: outline var(--transition-time);
  transition-timing-function: var(--transition-func);
  cursor: pointer;
  inline-size: 43px;
}

.heart-icon {
  position: absolute;
}

.heart-icon .heart-center {
  fill: var(--heart-center-transparent);
  transition: fill 0.3s 0.03s linear;
}

.heart-icon .heart-fill {
  fill: var(--heart-fill-transparent);
  transition: fill 0.3s linear;
}

.heart-icon .heart-outline {
  fill: var(--heart-outline-color);
}

.heart-icon .heart-sparks {
  fill: var(--heart-sparks-transparent);
}

.post__heart-btn:focus {
  outline: none;
}

.post__heart-btn:focus-visible {
  outline: var(--border-size) solid var(--accent-color);
}

.post__heart-btn:hover .heart-icon .heart-center {
  fill: var(--heart-center-color);
  transition: fill 0.3s linear;
}

.post__heart-btn:hover .heart-icon .heart-fill {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.post__heart-btn:active .heart-icon .heart-center {
  fill: var(--heart-center-active);
  transition: fill 0.3s linear;
}

.post__heart-btn:active .heart-icon .heart-fill {
  fill: var(--heart-fill-active);
  transition: fill 0.3s 0.05s linear;
}

.post__like-btn {
  padding: 10px 0;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  cursor: pointer;
  inline-size: 130px;
}

.main-btn {
  position: relative;
  border: var(--border-size) solid var(--accent-color);
  transition: box-shadow var(--transition-time);
  transition-timing-function: var(--transition-func);
}

.main-btn:focus {
  outline: none;
}

.main-btn:focus-visible {
  box-shadow: 2px 2px 0 2px var(--accent-color);
}

.main-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.main-btn:hover::before {
  transform: scaleX(1);
}

.btn-label {
  position: relative;
  z-index: 2;
  display: block;
  color: var(--btn-text-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.page-footer {
  margin: 50px auto 0;
  background-color: var(--bg-color);
  max-inline-size: 314px;
}

.page-footer__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: transparent;
  transition: box-shadow var(--transition-time);
  transition-timing-function: var(--transition-func);
  cursor: pointer;
}

.page-footer__btn:focus {
  outline: none;
}

.page-footer__btn-icon {
  position: relative;
  z-index: 2;
  color: var(--btn-text-color);
  block-size: 28px;
  inline-size: auto;
  mix-blend-mode: difference;
}

.modal-dialog {
  position: fixed;
  inset: 0;
  border: var(--border-size) solid var(--accent-color);
  padding: 32px 42px;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--bg-color);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 343px;
}

.modal-dialog__form {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr fit-content;
  row-gap: 30px;
}

.modal-dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.modal-dialog__btn {
  grid-column: 1 / 3;
  grid-row: 2;
  padding: 9px 0;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.modal-dialog__icon {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.modal-dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

@media (width > 380px) {
  .page-footer {
    max-inline-size: 340px;
  }

  .page-footer__btn {
    flex-direction: row;
    justify-content: center;
  }

  .page-footer__btn-icon {
    margin: 0 2px 0 0;
    block-size: 20px;
  }
}

/* Фильтры для картинок */
.img-filter__bright {
  filter: brightness(220%);
}

.img-filter__gray {
  filter: grayscale(1);
}

.img-filter__sepia {
  filter: sepia(100%);
}

.img-filter__invert {
  filter: invert(0.7);
}

.img-filter__saturate {
  filter: saturate(300%);
}

.img-filter__multiple {
  filter: saturate(500%) brightness(90%) invert(0.9);
}

.img-filter__gray-bright {
  filter: brightness(80%) grayscale(0.8);
}

.img-filter__blur {
  filter: blur(5px);
}